{%extends "layout.html" %}
{% block content %} 
	<h1> About the Developer </h1>
	<p>Hello, I am a programmer who has non-traditional background. I recently graduated from Fordham University with a degree in 
	chemistry. I also studied for a year in medical school before leaving for reasons I won’t elaborate here. I have always studied 
	coding and now I am pursue it full time. I enjoy applying the same work ethic that I used in college and medical school to create 
	cool website and software features. Languages I use in my work include Python, Javascript, HTML/CSS, MySQL. To see some of my work
	you can visit my Github page: https://github.com/XxdpavelxX   or check out one of the websites I created:. If you would like to 
	contact me you can do so by sending an email to dpavel20@gmail.com.</p>
<p class= "dev"><img src= "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/t1.0-1/c20.11.140.140/1800264_10203202913943525_1213386063_n.jpg" height="200" width="200" align="middle"/></p>
{% endblock %}